<?php

$parameters = array(
	'db_config' => array(
		'host'     => 'localhost',
		'user'     => 'bigheavyworld',
		'password' => '',
		'dbname'   => 'bigheavyworld',
		'driver'   => 'pdo_mysql'
	)
);

return $parameters;
