<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    </head>
    <body>
		<div id="site">
			<div id="banner">
				<div id="logo">
					<img src="images/big-heavy-world.jpg" alt="Big Heavy World Logo" width="137" height="115" />
					<p>Big Heavy World</p>
				</div>
				<p id="tagline">Big Heavy World</p>
				<h1>Vermont Music Venue Search</h1>
			</div>
            <div id="app" ng-app="DirectoryApp" ng-controller="MainController" ng-class="{ twocol: venues.length > 0 }">
                <form id="search-form" ng-submit="submitSearch()"> 
                    <input type="text" ng-model="searchText" />
                    <button type="submit">GO</button>
                </form>
                <div ng-show="loading">Loading...</div>
                <div id="search-map" ng-controller="initMap"></div>
                <div id="search-list" ng-hide="venues.length == 0">
                    <ul>
                        <li class="venue" ng-repeat="venue in venues" data-id="{{venue.id}}">
                            <h2 class="name"><a href="#" title="View Details">{{venue.business_name}}</a></h2>
                            <p class="address">Some address</p>
                            <p class="phone">{{venue.phone}}</p>
                            <p class="email"><a href="mailto:{{email}}">{{venue.email}}</a></p>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js
" type="text/javascript"></script>
        <script src="/js/angular/app.js" type="text/javascript"></script>
        <script src="/js/angular/maincontroller.js" type="text/javascript"></script>
    </body>
</html>
