/* Universal Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
fieldset, a img { border: 0 solid transparent; }

/* Layout */
body { background-color: #5882FA; }
/* #container { width: 960px; margin: 0 auto; } */
#banner {
	height: 160px;
	width: 100%;
	background-color: #ffffff;
	position: relative;
}
#banner #logo p { text-indent: -999em; }
#banner h1 { position: absolute; left: 220px; top: 70px; font-size: 42px; }
#banner #logo img { position: absolute; margin: 10px 0 10px 20px; }
#banner #tagline { position: absolute; left: 10px; top: 130px; font-size: 20px; font-weight: bold; }
#footer {
	clear: both;
	width: auto;
	height: 25px;
	padding: 10px;
	background-color: #E6E6E6;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	text-align: center;
}

/* Search Form */
#search-form { width: auto; height: 30px; padding: 10px; background-color: #E6E6E6; margin-bottom: 2px; }
#venue-search-extra { background: #fff; position: relative; z-index: 2000; padding: 25px; width: 300px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

/* Map */
#search-map { width: 100%; height: 600px; padding: 0; background-color: #E6E6E6; margin-bottom: 2px; }
#btn-counties-toggle { position: absolute; top: 0; right: 0; z-index: 2000; }

/* List */
#search-list { display: none; width: 100%; height: 600px; padding: 0 0.5%; background-color: #D0D0D0; margin-bottom: 2px; overflow: auto; }
#search-list ul { padding: 10px; list-style: none; }
#search-list li { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #333333 }

/* Search View */
.twocol #search-map { float: left; width: 67%; }
.twocol #search-list { display: block; float: right; width: 32%; }

/* Typography */
body { font-family: "Trebuchet MS", "Helvetica Neu", Helvetica, Arial, sans-serif; }

/* Forms */
form input[type=submit] { margin: 0; padding: 0; height: 30px; width: 60px; }
